@layer components {
  [data-component="button"] {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-width: 1px;
    border-radius: var(--radius-md);
    text-decoration: none;
    user-select: none;
    cursor: pointer;
    outline: none;
    white-space: nowrap;

    &[data-variant="primary"] {
      background-color: var(--button-primary-base);
      border-color: var(--border-weak-base);
      color: var(--icon-invert-base);

      &:hover:not(:disabled) {
        background-color: var(--icon-strong-hover);
      }
      &:focus:not(:disabled) {
        background-color: var(--icon-strong-focus);
      }
      &:active:not(:disabled) {
        background-color: var(--icon-strong-active);
      }
      &:disabled {
        background-color: var(--icon-strong-disabled);
      }
    }

    &[data-variant="ghost"] {
      border-color: transparent;
      background-color: transparent;
      color: var(--text-strong);

      &:hover:not(:disabled),
      &:focus-visible:not(:disabled) {
        background-color: var(--surface-base-hover);
      }
      &:active:not(:disabled) {
        background-color: var(--surface-base-active);
      }
      &:disabled {
        color: var(--text-weak);
        cursor: not-allowed;
      }
    }

    &[data-variant="secondary"] {
      border: transparent;
      background-color: var(--button-secondary-base);
      color: var(--text-strong);
      box-shadow: var(--shadow-xs-border-base);

      &:hover:not(:disabled) {
        background-color: var(--button-secondary-hover);
      }
      &:focus-visible:not(:active) {
        background-color: var(--button-secondary-base);
        box-shadow: var(--shadow-xs-border-focus);
      }
      &:disabled {
        background-color: var(--surface-disabled);
        color: var(--text-weak);
        cursor: not-allowed;
      }
    }

    &[data-size="small"] {
      height: 24px;
      padding: 0 8px;
      font-family: var(--font-family-sans);
      font-size: var(--font-size-small);
      font-weight: var(--font-weight-medium);
      line-height: var(--line-height-large);
    }

    &[data-size="normal"] {
      height: 28px;
      padding: 0 10px;
      font-family: var(--font-family-sans);
      font-size: var(--font-size-small);
      font-weight: var(--font-weight-medium);
      line-height: var(--line-height-large);
    }

    &[data-size="large"] {
      height: 32px;
      padding: 0 12px;
      font-family: var(--font-family-sans);
      font-size: var(--font-size-base);
      font-weight: var(--font-weight-medium);
      line-height: var(--line-height-large);
    }

    &:focus {
      outline: none;
    }
  }
}
